header {
    position: fixed;
    width: 100%;
    z-index: 99;
}

#nav-dark, #nav-light {
    display: block; 
}

#nav-dark {
    background-color: black;
    height: 30px;
    color: rgb(160, 160, 160);
}

#nav-light {
    background-color: white;
    height: 50px;
    color: grey;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    font: 20px/1.2, sans-serif;
    height: 100%;
    padding: 10px;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.page-header-item, .main-header-item {
    margin-right: 10px;
}

.main-header-item {
    text-transform: uppercase;
}

#menu-icon, #search-icon, #logo-icon {
    height: 100%;
    display: none;
}

#search-icon {
    display: block;
}

#yellow-strip {
    display: block;
    background-color: rgb(252, 215, 53);
    line-height: 10px;
    padding: 10px;
}

#page-cover {
    max-width: 100%;
    height: 70vh;
    display: block;
    padding-top: 110px;
}

#cover-story {
    height: 100%;
    width: 66.666%;
    float: left;
    padding: 4px;
}

.cover-secondary {
    float: left;
    height: 50%;
    width: 33.333%;
    padding: 4px;
}

.cover-story-thumbnail {
    width: 100%;
    height: 100%;
}

#main-wrapper {
    margin: 0 auto;
    max-width: 1192px;
    padding: 0 20px;
}

h2 {
    font-size: 30px;
    color: red;
    margin: 50px 0 25px 0;
    padding-left: 12px;
    font-weight: bold;
}

#main-articles h2 {
    margin: 100px 0 25px 0;
}

#main-articles-container, #funding-container, #col-3-articles-container, #deals-container {
    display: flex;
    flex-flow: row wrap;
}

.main-article {
    flex-basis: 25%;
    max-width: 25%;
    height: 250px;
    padding: 5px 12px;
}

.article-thumbnail {
    width: 100%;
    height: 50%;
}

.article-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
}

.article-info {
    margin-top: 8px;
}

.article-writer, .article-time {
    color: grey;
    font-size: 14px;
}

.article-writer {
    margin-right: 5px;
}

.funding-round {
    display: block;
    flex-basis: 25%;
    max-width: 25%;
    height: 300px;
    padding: 5px 12px;
}

.funding-round-container {
    height: 100%;
    background-color: rgb(255, 248, 246);
}

.funding-company {
    padding: 10px 10px 10px 70px;
    color: white;
    background-color: rgb(255, 51, 0);
}

.funding-info {
    color: black;
    background-color: rgb(255, 212, 193);
    padding: 10px 10px 10px 70px;
}

.funding-capital {
    font-weight: bold;
}

.funding-stage {
    font-weight: bold;
    text-transform: uppercase;
}

.funding-logo {
    position: relative;
    float: left;
    background-color: white;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
}

.funding-additional-info {
    padding: 15px 0;
}

.funding-industry, .funding-capital-partner {
    padding-left: 25px;
    line-height: 30px;
}

.funding-description {
    border-top: 1px solid  rgb(255, 212, 193);
    padding: 20px 10px 20px 10px;
}

.col-3-article {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
    height: 800px;
    padding: 5px 12px;
}

.col-3-article h2 {
    padding-left: 0;
}

.article-image {
    width: 100%;
}

.latest-related-article-container {
    background-color: rgb(255, 248, 246);
    color: red;
    display: flex;
    justify-content: space-between;
}

.latest-related-article-info {
    padding: 10px;
    flex: 1;
}

.latest-related-article-container h6 {
    text-transform: uppercase;
    padding-bottom: 5px;
}

.latest-related-article-container h4 {
    font-weight: bold;
}

.latest-related-article-thumbnail {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: blue;
}

.col-3-article a {
    display: block;
    padding: 7px 10px;
    border-bottom: 1px solid rgb(218, 218, 218);
    text-decoration: none;
    color: black;
}

.deal {
    flex-basis: 25%;
    max-width: 25%;
    height: 200px;
    padding: 5px 12px;
    margin-bottom: 50px;
}

.deal-thumbnail {
    max-width: 100%;
    max-height: 100%;
}

.deal-description {
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0;
}

.old-price {
    text-decoration: line-through;
    font-size: 14px;
    margin-right: 5px;
    color: grey;
}

.footer-row-1, .footer-row-2 {
    display: block;
}

#social-media-row, #footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.footer-row-1 {
    background-color: rgb(36, 36, 36);
    height: 150px;
}

.footer-row-2 {
    background-color: black;
    height: 80px;
    color: white;
}

.social-media-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
    padding: 12px;
    margin: 30px 3px 0 3px;
}

.social-media-icon {
    max-width: 100%;
    max-height: 100%;
}

#footer-links {
    text-align: center;
    margin-top: 10px;
}

.footer-link {
    margin: 0 5px;
}

.footer-link-text {
    text-decoration: none;
    color: white;
}

#footer-row-2-text {
    display: flex;
    justify-content: center;
    padding-top: 35px;
    text-align: center;
}




@media screen and (max-width: 1024px) {
    .main-article, .funding-round, .deal {
        flex-basis: 33.333%;
        max-width: 33.333%;
    }

    .col-3-article {
        flex-basis: 50%;
        max-width: 50%;
    }

    .funding-round:last-child {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    #page-cover {
        padding-top: 80px;
    }

    #nav-dark, .nav-left {
        display: none;
    }

    #menu-icon, #logo-icon {
        display: block;
    }

    .nav-left {
        padding: 0;
        width: 10%;
    }

    #yellow-strip {
        text-align: center;
    }

    #cover-story, .cover-secondary {
        height: 30vh;
        width: 100%;
    }

    h2 {
        padding-left: 0;
    }

    .main-article {
        flex-basis: 100%;
        max-width: 100%;
        height: 80px;
        padding: 5px 0;
    }
    
    .article-thumbnail {
        float: left;
        height: 100%;
        width: 75px;
        margin-right: 10px;
    }

    .funding-round {
        flex-basis: 100%;
        max-width: 100%;
        height: 250px;
        padding: 5px 0;
    }

    .col-3-article {
        flex-basis: 100%;
        max-width: 100%;
        height: 850px;
        padding: 5px 0;
    }

    .deal {
        flex-basis: 100%;
        max-width: 100%;
        height: 80px;
        padding: 5px 0;
        margin-bottom: 15px;
    }

    .deal-thumbnail {
        float: left;
        height: 100%;
        width: 75px;
        margin-right: 10px;
    }
}